	.greenBackground {
		background-color: #20aa37;
	}
	.redBackground {
		background-color: #ef3e3e;
		width: 70%;
		float: left;
	}
	.yellowBackground {
		background-color: #fce879;
		width: 30%;
		float: right;
	}